<div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-3 border-start border-success border-4">
          <h4>MÉDIAS SOCIAUX</h4>
          <p>
            <a href="#"><i class="ion-social-twitter"></i></a>
            <a href="#"><i class="ion-social-instagram"></i></a>
            <a href="https://www.facebook.com/mairienatitingou"><i class="ion-social-facebook"></i></a>
          </p>
        </div>
        <div class="col-md-5 border-start border-warning border-4">
          <h4>APROPOS</h4>
          <p>La Mairie de Natitingou est l'administration de la Commune de Natitingou située dans l'Atacora au Bénin. La Commune compte 103 843 Ha.</p>
        </div>
        <div class="col-md-4 border-start border-danger border-4">
          <h4>CONTACT INFORMATION</h4>
          <p>
            mairie_natitingou@yahoo.fr<br/> BP: 07,<br/> Natitingou, Bénin.
          </p>
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!--/div-->


<div id="copyrights">
    <div class="container">
        <p>
            &copy; Copyrights <strong>Mairie de Natitingou</strong>. Tout droit Réservés
        </p>
        <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/soon-website-under-construction-template/
            Licensing information: https://templatemag.com/license/
            -->
        </div>
    </div>
</div>
  <!-- / copyrights -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>