<div class="row d-flex justify-content-center">
    <div data-url="{{absolute_url(path('article_show', {id: new.id, slug: new.slug}))}}" class="col-md-4 col-sm-4 justify-content-center share_wa mt-2 text-white">
        <div class="col-12 text-center">
            <div class="card border-left-primary shadow h-100" style="background-color: #66cc33;">
                <div class="card-body">
                    Partager sur Whatzapp
                </div>
            </div>
        </div>
    </div>
    <div data-url="{{absolute_url(path('article_show', {id: new.id, slug: new.slug}))}}" class="col-md-4 col-sm-4 justify-content-center share_facebook mt-2 text-white">
        <div class="col-12 text-center">
            <div class="card border-left-primary shadow h-100" style="background-color: #333399;">
                <div class="card-body">
                    Partager sur Facebook
                </div>
            </div>
        </div>
    </div>
    <div data-url="{{absolute_url(path('article_show', {id: new.id, slug: new.slug}))}}" class="col-md-4 col-sm-4 justify-content-center share_twitter mt-2">
        <div class="col-12 text-center">
            <div class="card border-left-primary shadow h-100" style="background-color: #55ACEE;">
                <div class="card-body">
                    Partager sur Twitter
                </div>
            </div>
        </div>
    </div>
</div>