{% extends 'base.html.twig' %}

{% block title %}Mes Démarches{% endblock %}

{% block titre "Mes Démarches" %}

{% block body %}
    <div class="row mt-4">
        {% for prestation in prestations %}
            <a class="col-md-4 mb-2" href="{{ path('presta_show', {"id": prestation.id}) }}">
                <div class="card border-success" style="max-width: 20rem;">
                    <div class="card-body">
                        <p class="card-title h5">{{ prestation.name|title }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(prestations) }}
    </div>
{% endblock %}
