{% extends 'base.html.twig' %}

{% block title %}Mot du maire{% endblock %}

{% block titre 'Mot Du Maire' %}
    
{% block body %}
<p><img alt="" src="/uploads/images/WhatsApp%20Image%202021-06-23%20at%2009.44.42.jpeg" style="float:right; height:500px; width:500px" />Madame, Monsieur</p>

<p><br />
En cette nouvelle ann&eacute;e, le Conseil Communal de la Commune de Natitingou et moi-m&ecirc;me avons le plaisir de vous pr&eacute;senter, &agrave; vous et &agrave; vos proches, nos v&oelig;ux les meilleurs pour l&rsquo;ann&eacute;e 2021. Qu&rsquo;elle vous apporte bonheur, joies familiales, r&eacute;ussite professionnelle et surtout la sant&eacute;.<br />
Que cette ann&eacute;e nous permette de concr&eacute;tiser et de rendre dynamiques nos partenariats pour la promotion du d&eacute;veloppement.</p>

<p>Le but ultime de la r&eacute;forme de l&rsquo;administration territoriale enclench&eacute;e depuis l&rsquo;historique conf&eacute;rence des forces vives de la nation en 1990 est d&rsquo;amorcer, au niveau local, une dynamique endog&egrave;ne de d&eacute;veloppement. Comme on peut d&eacute;sormais s&rsquo;en convaincre, le d&eacute;veloppement ne se d&eacute;cr&egrave;te point. Il s&rsquo;organise m&eacute;thodiquement par des actions sectorielles et transversales mises en coh&eacute;rence dans le temps et l&rsquo;espace. En prenant conscience de la responsabilit&eacute; d&rsquo;administration et de d&eacute;veloppement que lui conf&egrave;re les lois de la d&eacute;centralisation, le Conseil communal de Natitingou, avec l&rsquo;appui technique et financier du Programme d&rsquo;appui &agrave; la D&eacute;centralisation et au D&eacute;veloppement Communal (PDDC) dans le cadre de la coop&eacute;ration entre le B&eacute;nin et la R&eacute;publique F&eacute;d&eacute;rale Allemande, s&rsquo;est fix&eacute; comme priorit&eacute; d&rsquo;am&eacute;liorer la communication &agrave; tous les niveaux pour mettre sur orbite la commune de Natitingou.</p>

<p>&nbsp;&nbsp; &nbsp;L&rsquo;administration communale a le devoir de rendre compte aux citoyens des actions qu&rsquo;elle m&egrave;ne en leur nom. Plusieurs canaux sont utilis&eacute;s par la mairie pour atteindre les populations. Mais les canaux &eacute;crits, v&eacute;ritable m&eacute;morandum, restent parmi les meilleurs moyens qui permettent aux populations de garder des traces durables des informations distill&eacute;es par le Maire, le Conseil Communal et la mairie de Natitingou.</p>

<p>&nbsp;&nbsp; &nbsp;C&rsquo;est donc pour cela que la mairie de Natitingou renoue avec son journal &laquo;&nbsp;Nati Info&nbsp;&raquo;. A travers ce journal , nous esp&eacute;rons r&eacute;duire la fracture communicationnelle qui existent entre les citoyens et l&rsquo;administration communale d&rsquo;une part, et entre les citoyens et le conseil communal d&rsquo;autre part.</p>

<p>&nbsp;&nbsp; &nbsp;Certes , la route est longue pour atteindre les objectifs que nous nous sommes fix&eacute;s pour le d&eacute;veloppement de notre commune, mais ensemble et gr&acirc;ce &agrave; une communication am&eacute;lior&eacute;e, nous arriverons surement au bout du tunnel.</p>

<p>Vive la Commune de Natitingou!<br />
Vive le d&eacute;veloppement &agrave; la base!<br />
Bonne lecture!</p>

<p>Tat&eacute; OUINDEYAMA<br />
Mairie de la Commune de Natitingou</p>
{% endblock %}
