{% extends 'base.html.twig' %}

{% block title %}Mot du maire{% endblock %}

{% block titre 'Mot Du Maire' %}
    
{% block body %}
<p><img alt="" src="/uploads/images/WhatsApp%20Image%202021-06-23%20at%2009.44.42.jpeg" style="float:right; height:500px; width:500px" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Citoyen, Citoyenne,<br />
Madame, Monsieur</p>

<p><br />
Le but ultime de la r&eacute;forme de l&rsquo;administration territoriale enclench&eacute;e depuis l&rsquo;historique conf&eacute;rence des forces vives de la nation en 1990 est d&rsquo;amorcer, au niveau local, une dynamique endog&egrave;ne de d&eacute;veloppement. Comme on peut d&eacute;sormais s&rsquo;en convaincre, le d&eacute;veloppement ne se d&eacute;cr&egrave;te point. Il s&rsquo;organise m&eacute;thodiquement par des actions sectorielles et transversales mises en coh&eacute;rence dans le temps et l&rsquo;espace. En prenant conscience de la responsabilit&eacute; d&rsquo;administration et de d&eacute;veloppement que lui conf&egrave;re les lois de la d&eacute;centralisation, le Conseil communal de Natitingou s&rsquo;est fix&eacute; comme priorit&eacute; d&rsquo;am&eacute;liorer la communication &agrave; tous les niveaux pour mettre sur orbite la commune de Natitingou.</p>

<p>&nbsp;&nbsp;&nbsp; &nbsp;L&rsquo;administration communale a le devoir de rendre compte aux citoyens des actions qu&rsquo;elle m&egrave;ne en leur nom. Plusieurs canaux sont utilis&eacute;s par la mairie pour atteindre les populations. Mais les canaux &eacute;crits, v&eacute;ritable m&eacute;morandum, restent parmi les meilleurs moyens qui permettent aux populations de garder des traces durables des informations distill&eacute;es par le Maire, le Conseil Communal et la mairie de Natitingou.</p>

<p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;C&rsquo;est donc pour cela que la mairie de Natitingou renoue avec son site web. A travers ce site web, nous esp&eacute;rons r&eacute;duire la fracture communicationnelle qui existent entre les citoyens et l&rsquo;administration communale d&rsquo;une part, et entre les citoyens et le conseil communal d&rsquo;autre part.</p>

<p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Certes, la route est longue pour atteindre les objectifs que nous nous sommes fix&eacute;s pour le d&eacute;veloppement de notre commune, mais ensemble et gr&acirc;ce &agrave; une communication am&eacute;lior&eacute;e, nous arriverons surement au bout du tunnel.</p>

<p>Vive la Commune de Natitingou !<br />
Vive le d&eacute;veloppement &agrave; la base !</p>

<p>Tat&eacute; OUINDEYAMA<br />
Maire de la Commune de Natitingou</p>
{% endblock %}
