{% extends 'base.html.twig' %}

{% block title %}Mot du maire{% endblock %}

{% block titre 'Mot Du Maire' %}
    
{% block body %}
<p><img alt="" src="/uploads/images/name.jpg" style="float:right; height:486px; width:1080px" /></p>

<p>Contrairement &agrave; une conception populaire, <em>JavaScript n&#39;est pas &laquo;&nbsp;du Java interpr&eacute;t&eacute;&nbsp;&raquo;</em>. En quelques mots, JavaScript est un langage de script dynamique utilisant une construction d&#39;objets bas&eacute;e sur des prototypes. La syntaxe de base est volontairement similaire &agrave; Java et &agrave; C++ pour r&eacute;duire le nombre de concepts nouveaux &agrave; assimiler par un d&eacute;butant. Les structures de contr&ocirc;le, telles que les instructions <code>if</code>, les boucles <code>for</code> et <code>while</code>, les blocs <code>switch</code> et <code>try..catch</code> fonctionnent de la m&ecirc;me mani&egrave;re que dans ces langages (ou presque).</p>

<p>JavaScript peut &ecirc;tre employ&eacute; en tant que langage <a class="external" href="https://fr.wikipedia.org/wiki/Programmation_procédurale" rel=" noopener">proc&eacute;dural</a> ou <a class="external" href="https://fr.wikipedia.org/wiki/Programmation_orientée_objet" rel=" noopener">orient&eacute; objet</a>. Les objets sont cr&eacute;&eacute;s par le programme et des m&eacute;thodes et des propri&eacute;t&eacute;s lui sont attach&eacute;s lors de l&#39;ex&eacute;cution, contrairement aux d&eacute;finitions de classes courantes dans les langages compil&eacute;s comme C++ et Java. Une fois qu&#39;un objet a &eacute;t&eacute; construit, il peut servir de mod&egrave;le (ou prototype) pour cr&eacute;er des objets similaires.</p>

<p>Parmi les capacit&eacute;s dynamiques de JavaScript, on peut citer la construction d&#39;objets &agrave; l&#39;ex&eacute;cution, les listes de param&egrave;tres variables, les fonctions comme variables, la cr&eacute;ation des scripts dynamique (via <code><a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/eval">eval</a></code>), le parcours d&#39;objets (via <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Statements/for...in"><code>for ... in</code></a>), et la r&eacute;cup&eacute;ration du code source (les programmes JavaScript peuvent d&eacute;compiler les corps de fonction pour retrouver le code source).</p>

<p>Pour une description approfondie de la programation en JavaScript, consultez les liens de la section <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/About_JavaScript#ressources_javascript">ressources JavaScript</a> ci-dessous.</p>

{% endblock %}
