{% extends 'base.html.twig' %}

{% block title %}Modifier cet Article{% endblock %}

{% block titre "Vous allez modifier cet Article" %}
    
{% block body %}

<div class="row m-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        {% include "_partials/_article_form.html.twig" %}
    </div>
</div>
{% endblock %}
