{% extends 'admin/base.html.twig' %}

{% block title %}{{ category.name|title }}{% endblock %}

{% block body %}
    <h1>{{ category.name|title }}</h1>

    <div class="row m-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
    </div>
</div>
{% endblock %}
