{% extends 'admin/base.html.twig' %}

{% block title %}Nombre de Like!{% endblock %}


{% block body %}
    <h1>Nombre de Likes</h1>
    <div class="row mt-5 justify-content-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h1>{{ likes }}</h1>
        </div>
    </div>
{% endblock %}
